@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@700&display=swap');

/* EVERYTHING */

body {
    font-family: "Helvetica", sans-serif;
    padding: 30px 0px;
    background-color: #E5DDDC;  
}

h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;;
}

#content {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 1em 2.5em; 
}

a:link {
    text-decoration: none;
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
}

/* ------------------------------------------------------- */

/* HEADER */

header {
    text-align: center;
    border: 1px white dashed;
    margin-top: 1em;
}

/* Clearfix: Force an Element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

.logo {
    float:left;
    max-width: 35%;
    margin: 1.6em;
    margin-left: 0;
    border: 2px black solid;
    border-radius: 1em;
    margin-top: -.5em;
    margin-left: -.5em;
}

.titlebox {
    margin: 2em;
    margin-bottom: 0;
    height: 100%;
    border: 5px #FF695C solid;
    border-radius: 1em;
    background-color: #FF695C;
    padding: 1em;
}

/* ------------------------------------------------------- */

/* NAVIGATION */

.navigation {
    text-align: center;
    padding: 0;
    border-radius: 1em;
}

nav a:hover {
    background-color: #bbb;
    color: #36454f;
    --d: 75%;
    border-radius: 1em;
}
nav ul {
    background-color: #E5DDDC; 
}

nav ul li a {
    
	display: block;
	color: black;
	padding: 0.75rem;
	font-size: 0.95rem;
	transition: 0.5s;
}

/* drop down menu */

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

/* ------------------------------------------------------- */

/* DATE */

.date {
    text-align: center;
    margin: .5em;
    padding: .5em;
}

/* ------------------------------------------------------- */

/* MAIN */

main {
    text-align: center;
    display: grid; 
    background-color: #FF695C;
    border-radius: 10px;
    padding: .5em;
}

/* ------------------------------------------------------- */

/* CALL TO ACTION */

#calltoaction {
    /* background-color: black; */
    position: relative;
    width: 100%;
    
}

.callimg { 
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

/* The overlay effect */
.overlay {
  position:absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  transition: 1s ease;
  opacity:0;
}

#welcome {
    width: 100%;
    font-size: 1.5em;
    top: 1%;
    padding-top: .5em;
}

#joinbutton {
    background: none;
    width: 100%;
    bottom: 5%;
    left: 0%;
}
/* fade in the overlay title */
#calltoaction:hover .overlay {
  opacity: 1;
}

/* ------------------------------------------------------- */

/* BUTTONS */

.button {
    /* position:relative; */
    /* font-size: 2rem; */
    background-color: #FF695C;
    color: black;
    padding: 15px;
    border-radius: 1em;
    max-width: 75%;
    margin: 5% 15%;
    
    /* left: 5%;
    top: 1%;
    right: 5%; */
}

nav button {
    border: none;
    background-color: #E5DDDC;
    border-radius: 1em;
    padding: 0.75rem;
    font-size: 0.95rem;
} 

nav button:hover {
    background-color: #bbb;
    color: #36454f;
    --d: 75%;
    border-radius: 1em;
    width: 100%;
}

/* ------------------------------------------------------- */



.headingbox {
    background-color: #E5DDDC;
    padding: 1%;
    margin: 1em;
}

.join {
    display: none;
}

.box {
    position: relative;
    background-color: white;
    margin: 10px;
    height: 96%;
    padding: 0 10px;
    border-radius: 10px;
}

.weatherimg {
    max-width: 40%;
    float:inline-start;
}

/* Releases Section */

#newreleases {
    display: grid;
    place-content: center;
    padding: 0 2em;
}

/* ------------------------------------------------------- */

/* Spotlight Section  */

.spotlights {
    display: grid;
}


.spotlightimg {
    max-width: 40%;
    float: inline-start;
}

.contactinfo {
    border: black;
    border-top-style: solid;
    margin: 20px;
    font-size: small;
}

/* ------------------------------------------------------- */

/* FOOTER */

footer {
    text-align: right;
    padding: 1em;
    margin-top: 2em;
}

.fineprint {
    text-align: center;
    font-size: .7em;
}

/* ------------------------------------------------------- */

/* POSITIONING */



.onlylarge {
    display: none;
    background-color: #E5DDDC;
    margin: 10px;
}

/* ------------------------------------------------------- */

/* DISCOVER */

.discover h1 {
    background-color: #E5DDDC;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 5px;
}

.discover {

    display: grid;
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 1.5em;

}

.discover img {
    max-width: 100%;
    margin-bottom: .5em;
}

.discover figure {
    background-color: white;
    padding: 1.5em;
    border-radius: 5px;
    margin-bottom: 2em;
}

/* ------------------------------------------------------- */

/* FORM */


form fieldset {
    margin: 2rem 0;
    border: 1px solid #FF695C;
    border-radius: 10px;
    padding: .5rem 2%;
    text-align: left;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    max-width: 90%;
}

form label.top input, form label.top textarea{
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 95%;
    max-width: 20rem;
    background-color: white;
}

form label.hidden{
    display: none !important;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn {
    border: none;
    background-color: #FF695C;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input, form label.top textarea{
    border-left: black solid 6px;
}

form label.top input:required,form label.top textarea:required{
    border-left:red solid 6px;
}

form label.top input:required:valid, form label.top textarea:required:valid{
    border-left: green solid 6px;
}

#joinpage {
    background-color: #E5DDDC;
    padding: 1rem;
    border-radius: 10px;
}

.side {
    display: none;
    grid-column: 2/3;
    padding: 1rem;
}

.form{
    grid-column: 1/2;
}

.info {
    background-color: white;    
    padding: 1em;
    border-radius: 5px;
}

.info section{
    margin-bottom: 3em;
}

/* ------------------------------------------------------- */

/* THANKS */

.thanks {
    background-color: #E5DDDC;
    margin: 2rem;
    position: relative;
    max-height: 500px;
    min-height: 170px;
    border: 10px solid #FF695C;
}

.thanks1 {
    position: absolute;
    top: 19%;
    left: 25%;
    right: 25%;
    color: black;
}

.thanks2 {
    position: absolute;
    bottom: 5%;
    left: 15%;
    right: 15%;
}

.thanksimg {
    width: 100%;
    margin-top: -5%;
    opacity: 0.6;
}

/* ------------------------------------------------------- */

/* DIRECTORY */

.directory {
    background-color: #E5DDDC;

}

.menu button:hover{
    border: 3px solid black;
}

.menu button {
    margin: 1em;
	padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #FF695C;
}

.directory ul {
    list-style: none;
    padding-left: 0;
}

.directory img{
    background-color: darkgrey;
}

.directory section {
    background-color: white;
    margin: 1em;
    padding: 1.5em;
    border-radius: 10px;
}

.directory .button{
    width: 10%;
}

.list {
	
	flex-direction: column;
}

.list img {
    display: none;
}

.list section {
	align-items: center;
}

.grid .cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
/* .grid section > * {
	margin: 0.1rem;
} */

/* .list section {
	flex-direction: row;
	justify-content: left;
} */

.list section > * {
	/* margin: 0 1rem; */
	text-align: left;
    width: 100%;
}

.list section img {
	display: none; /* smaller viewports only */
}

section h3 {
	font-size: 1.5rem;
}

.directory img {
	height: 100px;
	max-width: 100%;
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
}

/* ------------------------------------------------------- */

/* CONTACT */

