@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@700&display=swap');

/* everything */

#content {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 1em 2.5em; 
}

/* header and navigation */

/* Clearfix: Force an Element not to collapse */

.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

.logo {
    float:left;
    max-width: 35%;
    border: 1px red dashed;
    /* margin-top: 0;
    padding-top: 2%; */
}

.title {
    position: relative;
    font-size: .8em;
}

header {
    background-color: white;
    color: black;
}


.date {
    text-align: center;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    border-radius: 1em;
}

.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

a:link {
    text-decoration: none;
}

button {
    border: none;
    background-color: #E5DDDC;
    border-radius: 1em;
    padding: 0.75rem;
    font-size: 0.95rem;
} 

button:hover {
    background-color: #bbb;
    color: #36454f;
    --d: 75%;
    border-radius: 1em;
    width: 100%;
}


nav a:hover {
    background-color: #bbb;
    color: #36454f;
    --d: 75%;
    border-radius: 1em;
}
nav ul {
    background-color: #E5DDDC; 
}

nav ul li a {
    
	display: block;
	color: black;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
}

/* body and main */

body {
    font-family: "Helvetica", sans-serif;
    padding: 30px 0px;
    background-color: #FF695C;  
}

h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;;
}


main {
    text-align: center;
    display: grid; 
    grid-gap: .5em;
    /* /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr; */
    /* margin: 0px -30px; */
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
}

h3 {
    color: black;
}

.headingbox {
    background-color: white;
    /* padding: 1%; */
    margin: 0;
}

.notsmall {
    display: none;
    background-color: #E5DDDC;
    margin: 10px;
}

.onlylarge {
    display: none;
    background-color: #E5DDDC;
    margin: 10px;
}

.box {
    position: relative;
    background-color: #E5DDDC;
    margin: 10px;
    color: green;
}

/* Call to Action Section */

#calltoaction {
    background-color: black;
}

.callimg { 
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* .welcome {
    font-size: 1.5em;
    position: relative;
    background-color: black;
    color: white;
    max-width: 80%;
    left: 15%;
    right: 15%;
} */

/* Event Section */

/* #event {
    padding: 2em;
} */

/* Weather Section  */

/* #weather {
    padding: 2em;
    position: relative;
} */

.weatherimg {
    max-width: 40%;
    float:inline-start;
}


/* Spotlight Section  */

.spotlights {
    background-color: #FF695C;
    position: relative;
    justify-content: center;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    margin: 10px;
}

#spotlight1 {
    position: relative;
    
    background-color: white;
    /* grid-row: 1/2; */
    /* display: grid; */
    padding: 0 10px;

}

#spotlight2 {
    position: relative;
    background-color: white;
    /* display: grid; */
    padding: 0 10px;
}

#spotlight3 {
    position: relative;
    background-color: white;
    padding: 0 10px;
}

.spotlightimg {
    max-width: 30%;
    float: left;
    background-color: pink;
}

.contactinfo {
    border: black;
    border-top-style: solid;
    margin: 20px;
    font-size: small;
}

/* Releases Section */

#newreleases {
    display: grid;
    place-content: center;
    padding: 0 2em;
}

/* Join Section */

.jointext {
    margin-top: 20%;
}

.button {
    /* position:relative; */
    /* font-size: 2rem; */
    background-color: #FF695C;
    color: black;
    padding: 15px;
    border-radius: 1em;
    /* max-width: 75%; */
    margin: 5% 15%;
    
    /* left: 5%; */
    /* top: 1%;
    right: 5%; */
}
/* Footer */

footer {
    background-color: #E5DDDC;
    text-align: center;
    color: black;
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
}
#info {
    text-align: right;
    grid-row: 1/2;
    border-bottom: black;
    border-width: 1em;
}




/* discover */

.discover picture img{

    /* display: grid;
    margin: 0 auto;
    justify-items: center; */
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  /* margin: 10px; */
  /* max-width: 300px; */
}

/* Make the image to responsive */
.image {
  /* display: block; */
  /* width: 100%; */
  /* height: auto; */
}    
  
/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  /* font-size: 20px; */
  /* padding: 10px; */
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}