@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@500&display=swap');

body {
    font-family: "Raleway", sans-serif;
    display: block;
    text-align: center;
}

h1,h2,h3,h4 {
    font-family: "Roboto Slab", serif;
}

ul{
    list-style: none;
    padding-left: 0;
}

a:link {
    text-decoration: none;
}

header {
    margin: 1rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

.logo {
    width: 20%;
    float:left;
    max-width: 70px;
    border: 2px black solid;
    border-radius: 1em;
    margin-top: .5em;
    margin-right: .3rem;
}

.box {
    background-color: white;
    border-radius: 10px;
    margin: .3em;
}

/* NAVIGATION */

.linklogo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navigation {
    text-align: center;
    padding: 0;
    border-radius: 1em;
}

nav a:hover {
    background-color: #bbb;
    color: #36454f;
    --d: 75%;
    border-radius: 1em;
}
nav ul {
    background-color: #E5DDDC; 
}

nav ul li a {
    
	display: block;
	color: black;
	padding: 0.75rem;
	font-size: 0.95rem;
	transition: 0.5s;
}

/* drop down menu */

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav button {
    border: none;
    background-color: #E5DDDC;
    border-radius: 1em;
    padding: 0.75rem;
    font-size: 0.95rem;
} 

nav button:hover {
    background-color: #bbb;
    color: #36454f;
    --d: 75%;
    border-radius: 1em;
    width: 100%;
}

.button {
    background-color: #71b2f7;
    color: black;
    padding: 15px;
    border-radius: 1em;
    max-width: 75%;
    margin: 5% 15%;
    border: 2px black solid;
    
}

.button:hover {
    background-color: #3083dc;
}

main {
    margin: 0 auto;
    max-width: 960px;
    display: grid; 
    grid-gap: 1em;
    background-color: #3083dc;
    padding: 1em;
    border-radius: 10px;
}

img {
    width: 100%;
}

#temple_info li {
    margin-top: .5em;
}

.temple_pic {
    width: 80%;
    /* float: right; */
}

.hotelimg {
    width: 100%;
    /* display: block; */
    border-radius: 10px 10px 0 0;
}

.weatherimg {
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
}

#temples img:hover {
    box-shadow: 0 0 20px black;
}

#temples img{
    margin-bottom: 1em;
}

#temples div:nth-child(2),#temples div:nth-child(3) {
    display: none;
}

/* ------------------------------------------------------- */

/* FOOTER */

footer {
    text-align: right;
    padding: 1em;
    margin-top: 2em;
}

.foot {
    background-color: #bbb;
    padding: 1rem;
    border-radius: 10px;
}

.fineprint {
    text-align: center;
    font-size: .7em;
}

.locationpin {
    width: 20px;
}

.location {
    color: black;
}
/* ------------------------------------------------------- */

.cards section {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.cards section li {
    padding-bottom: .3em;
}

.cards section img {
    border-radius: 10px;
}

/* ------------------------------------------------------- */

.rightimgs {
    display: none;
}

form {
    background-color: white;
    padding:1em;
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 10px;
    z-index: 1;
    margin: auto;
}

form .submitBtn {
    grid-column: 1/2;
}

form fieldset:nth-child(1){
    grid-column: 1/2;
}
form fieldset:nth-child(2){
    grid-column: 1/2;
}
form fieldset:nth-child(3){
    grid-column: 1/2;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #71b2f7;
    border-radius: 10px;
    padding: .5rem 2%;
    text-align: left;
    
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    max-width: 90%;
}

form label.top input, form label.top textarea, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 95%;
    max-width: 20rem;
    background-color: white;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn {
    border: none;
    background-color: #71b2f7;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input, form label.top textarea{
    border-left: black solid 6px;
}

form label.top input:required,form label.top textarea:required, form label.top select:required{
    border-left:red solid 6px;
}



form label.top input:required:valid, form label.top textarea:required:valid, form label.top select:valid{
    border-left: green solid 6px;
}

/* ------------------------------------------------------- */

#thanks {
    background-color:white;
    border-radius: 10px;
}

.thanksimg {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

/* ------------------------------------------------------- */

/* .services {
    background-color: white;
} */
#missionary div {
    padding: 2em;
}

#missionary img {
    width: 75%;
}

#reception div {
    padding: 1em;
}