@media screen and (min-width: 32.5em) { 
    #layout {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr .5fr 1fr 1fr;
    }

    #call {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #weather {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #maintemple {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    #announcement {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    #temples {
        grid-column: 1/3;
        grid-row: 4/5;
    }
}